# Dependencies
node_modules/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.pem

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-*

# Build
dist/
build/
*.tgz

# Testing
coverage/
.nyc_output/

# Misc
.cache/
temp/
tmp/

# Firebase
firebase-service-account.json
**/firebase-service-account.json
.firebase/
firebase-debug.log

# Expo
.expo/
.expo-shared/
web-build/

# React Native
*.jsbundle
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
